*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
  display: flex;
}

.logo{
  height: 70px;
}

ul{
  padding-left:0;
}

li{
  list-style:none;
}